/*CSS goes here*/

html,body{
    height: 100%;
    margin: 0;
    background-color: red;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
}

#container{
    width: 1000px;
    padding: 10px;
    background-color:black;
}

header{
    background-color:white;
    margin-bottom: 10px;
    text-align: center;

}

nav{
    background-color:white;
    margin-bottom: 10px;
}
main{
    display: flex;
    justify-content: center;
}

canvas{
    border: 1px solid black;
    background-image: "images/Finnal_Draft_Logo.jpg";
    margin-bottom: 10px;
}