html,body{
    height:100%;
    display: flex;
    justify-content: center;
    background-image: url("images/galaxyBackground.jpg");
    background-repeat: repeat;

}
#container{
    background-color: black;
}