html,body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border:black;
    text-shadow: 5px 5px 10px black;
}

#container{
    width:960px;
    background-color: red;
}
a:link{
    text-decoration: none;
    color:white;
    border: solid black;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
}
#Riddles{
    width: 960px;
    background-color: red;
}
#School{
    width: 960px;
    background-color: red;
}